html{
  background-color: #333;
  /* font-family: 'Lobster Two', cursive; */
  /* font-family: 'Overpass', sans-serif; */
  font-family: 'Asap', sans-serif;
}
::selection{
  background-color: #357cff8e;
}


/* Identification formateur */

#logo{
  width: 25%;
}
#titreFormateur{
  color: #fff;
}
#formFormateur{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_formateur{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 20vw;
  font-size: 1.5vw;
  color: #fff;
  font-weight: lighter;
}
.divLogin,
.divMdp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loginFormateur,
#mdpFormateur{
  margin-top: 5%;
  padding: 2% 0 2% 0;
  text-align: center;
  color: #333;
  border-radius: 6px;
  border: none;
  outline:none
}
#bouton_connexion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 0;
  margin-top: 20%;
  cursor: pointer;
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #ed1450;
  border: none;
  border-radius: 4px;
  width: 80%;
}
#bouton_connexion:hover,
#bouton_connexion:active{
  background-color: #cf0c44;
  outline:none
}